/*********************
    GENERAL
**********************/
:root {
    /* Color styles */
--dark-primary: #000000;
--light-primary: #ffffff;
--bg-main: #141922;
--bg-playbar: #282828;
--dark-text: #797979;
--contrast: #ADFF2F;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--light-primary);
}

img {
    max-width: 100%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    color: var(--dark-text);
    text-decoration: none;
}

a:hover {
    color: var(--light-primary);
}

ul {
    list-style: none;
}

.flex-start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


/*********************
    LAYOUT
**********************/

.wrapper {
    width: 100%;
    height: 100vh;
}

#playbar {
    width: 100%;
    height: 90px;
    background-color: var(--bg-playbar);
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    overflow: hidden;
}

.aside-nav {
    width: 230px;
    min-height: 480px;
    background-color: var(--dark-primary);
    font-size: 0.9rem;
    color: var(--dark-text);
    font-weight: 700;
}

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--bg-main);
    overflow-y: auto;
}

#call-to-action {
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}

section {
    margin: 3rem 0
}

.row {
    margin: 0 -5px;
    display: flex;
    flex-flow: row wrap;
}

.col {
    width: calc(100% / 6);
    padding: 5px;
}

.card {
    text-align: center;
    cursor: pointer;
} 

.avatar {
    border-radius: 50%;
    overflow: hidden;
}

/*********************
    SECTION
**********************/

/* CALL TO ACTION */
.btn-up {
    display: inline-block;
    border: 1px solid var(--light-primary);
    border-radius: 30px;
    color: var(--light-primary);
    padding: 15px 40px;
    margin-right: 1.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    scale: 0.8;
    transition: 0.5s;
}

.btn-up:hover {
    scale: 1
}

/* MAIN SECTION */

.main-section {
    margin-top: 60px;
    padding: 30px;
}
/* Main Nav */
.main-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.main-nav ul li{
    padding: 15px;
}


.main-nav ul li a {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 15px 5px;
    text-transform: uppercase;
}

.main-nav ul li a::after{
    width: 40%;
    margin: 5px auto;
    display: block;
    content: "";
    height: 2px;
    background-color: var(--contrast);
    opacity: 0;
    transition: 0.2s;
}

.main-nav ul li:first-child a::after{
    width: 40%;
    margin: 5px auto;
    display: block;
    content: "";
    height: 2px;
    background-color: var(--contrast);
    opacity: 1;
}

.main-nav a:hover::after{
    opacity: 1;
}

/* Section */
.subtitle {
    font-size: 0.9rem;
    color: var(--dark-text);
    font-weight: 700;
}

h2 ~ .subtitle {
    margin-top: -5px;
    margin-bottom: 15px;
}

section .cover, section .avatar{
    position: relative;
}

section .cover:after, section .avatar:after {
font-family: 'Font Awesome 6 Free' ;
font-size: 3rem;
content: "\f144" ;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
transition: 0.5s;
}

.card:hover .cover:after, .card:hover .avatar:after {
    opacity: 1;
}

/* ASIDE NAV */
.aside-nav a{
    font-size: 0.8rem;
}
.aside-top {
    width: 100%;
    height: 80%;
}

.aside-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 65%;
    padding: 15px;
    margin-bottom: 15px;
}

.logo-small{
    padding: 15px;
    display: none;
}

.aside-nav li:hover .ico,
.aside-nav li:hover a,
.btn-create:hover i,
.btn-create:hover a {
    filter: opacity(1);
    color: var(--light-primary);
    cursor: pointer;

}
/* Menu */
.aside-menu li{
    padding: 5px 15px;
}

.aside-menu li:first-child {
    border-left: 3px solid var(--contrast) ;
}

.aside-menu li:first-child .ico {
    filter: opacity(1) !important;
}

.aside-menu li:first-child a {
    color: var(--light-primary);
}

.aside-menu li .ico {
    height: 30px;
    width: 30px;
    filter: opacity(0.5);
}

.aside-menu .text-menu {
    padding: 5px;
}

/* Playlist */
#playlist-cont h3 { 
    color: var(--light-primary) !important;
    padding: 15px 15px 0 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.playlist-ul{
    display: block;
    overflow: auto;
    height: 300px;
}

.btn-create {
    cursor: pointer;
    padding-left: 15px;
}

.playlist-ul li{
    padding: 10px 15px;
}

.fa-square-plus {
    font-size: 3rem;
    margin-right: 10px;
    color: var(--dark-text);
}

/* Profile Box */
.profile-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 15px;
    width: 100%;
}

.profile-box .flex-start {
    margin: 10px 0;
}

.profile-box .ico {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

hr {
    width: 100%;
    opacity: 0.5;
}

.profile-box .ico.avatar {
    width: 30px;
    height: 30px;
    background-color: #808080;
}

.profile-box div:last-child .text-menu {
    color: var(--light-primary);
    font-weight: 700;
}

/* PLAYBAR */
/*Song Box*/
.song .cover {
    width: 45px;
    margin: 15px;
}

.song .title {
    font-weight: 700;
    font-size: 0.85rem;
}

.song .subtitle {
    font-size: 0.7rem;
    margin-right: 15px;
}

.song .ico i{
    color: var(--dark-text);
    padding-left: 10px;
}

.song .ico a:hover i {
    color: var(--light-primary);
}

/* Media Bar */
.media-bar {
    width: 40%;
}

.media-top {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin-bottom: -10px;
}

.media-bar .ico i {
    padding: 5px 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.media-bar .ico i:nth-child(3) {
    font-size: 1.7rem;
    transition: 0.3s;
    margin: 0 5px;
}

.media-bar .ico i:nth-child(3):hover {
    scale: 1.2;
}

.media-bottom {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.6rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: 5px;
    border-radius: 10px;
    background: #5a5a5a;
    cursor: pointer;
    background-image: linear-gradient(#c5c5c5, #c5c5c5);
    background-size: 15% 100%;
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    background: var(--light-primary);
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
}

.slider:hover {
    background-image: linear-gradient(var(--contrast), var(--contrast));
}

.slider:hover.slider::-webkit-slider-thumb {
    opacity: 1;
}


/*Settings Box*/
.settings .ico i {
    font-size: 0.9rem;
    padding: 10px;
}

.volume.slider {
    margin-right: 15px;
}

/*********************
    MEDIA QUERY
**********************/

@media screen and (max-width: 1300px) {
    .col {
        width: calc(100% / 5);
    }
}

@media screen and (max-width: 1200px) {
    .col {
        width: calc(100% / 4);
    }

    .volume.slider{
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    .col {
        width: calc(100% / 3);
    }

    .slider {
        width: 80%;
    }

    .volume.slider{
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .col {
        width: calc(100% / 2);
    }

    .media-bar {
        width: 60%;
    }

    .slider {
        width: 65%;
    }

    .volume.slider{
        width: 40%;
    }

    .settings i:nth-child(1),
    .settings i:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 576px) { 
    .aside-nav {
        width: 60px;
    }

    .main-content, #call-to-action {
        width: calc(100% - 60px);
    }

    #playlist-cont,
    .aside-nav .text-menu,
    .logo
      {
        display: none;
    }
    
    .profile-box .ico{
        margin: 0 auto;
    }

    .logo-small{
        display: block;
    }

    .settings i:nth-child(1),
    .settings i:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .col {
        width: 100%;
    }
}